.headline{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}

.list{
    display:flex;
    /*讓下一層次水平排列*/
    justify-content: center;
}

.item{
    background-color: pink;
    flex:none;
    width:280px;
    margin:10px;
}
@media only screen and (max-width:1250px){
    .list{
        flex-wrap: wrap;
    }
    .item{
       width:45%
    }
    
}